<!doctype html>
<html lang="en">

<head>
    <title>Correio Privado</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/mdb.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script type="text/javascript" src="../js/mdb.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/539eca1b92.js" crossorigin="anonymous"></script>
    <style>
        body {
            font-family: 'Inter', Arial !important;
        }

        #intro {
            height: 100vh;
        }

        .navbar .nav-link {
            color: #fff !important;
        }

        .object-fit-cover {
            object-fit: cover !important;
        }

        .ratio-square {
            aspect-ratio: 1/1 !important;
        }
    </style>
</head>

<body>
    <header>

        <div id="intro" class="bg-image shadow-3-strong">
            <img src="https://mdbootstrap.com/img/new/fluid/city/018.jpg" class="vh-100 w-100" style="object-fit: cover">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.65);">
                <div class="container vh-100 ">
                    <nav class="navbar navbar-expand-lg navbar-dark shadow-0" style="z-index: 2000;">
                        <div class="container-lg">
                            <button id="toggler-button-menu" class="navbar-toggler border-0 my-2 text-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
                                <i class="fa-solid fa-bars"></i>
                            </button>

                            <div class="collapse navbar-collapse col-md-9 text-start" id="navbarsExample08">
                                <a href="" class="col-md-4 mb-2 mb-md-0 text-decoration-none text-light">
                                    <h5>Correio Privado</h5>
                                </a>

                                <ul class="col-md-8 mb-2 navbar-nav justify-content-center">
                                    <li><a href="index.html" class="nav-link px-2 nav-link-text">Home</a></li>
                                    <li><a href="#" class="nav-link px-2 nav-link-text">Filter News</a></li>
                                    <li><a href="#" class="nav-link px-2 nav-link-text">Recent News</a></li>
                                    <li><a href="about-us.html" class="nav-link px-2 nav-link-text">About Us</a></li>
                                </ul>
                            </div>

                            <div class="col-md-3 text-end dropdown">
                                <a class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    <img src="../img/Diogo%20Simões.jpg" alt="profile_pic" class="rounded-circle object-fit-cover" height="30">
                                    <!-- TODO: add <i> when it has Notifications -->
                                    <i class="fa-solid fa-circle-dot text-danger position-absolute" style="
                                        right: 30px;
                                        bottom: 17%;
                                    "></i>
                                </a>
                                <div id="toggler-icon-navbar" class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item" href="#">Profile</a>
                                    <a class="dropdown-item" href="#">Logout</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Notifications <i class="fa-solid fa-circle-dot text-danger"></i></a> <!-- TODO: add <i> when it has Notifications -->
                                </div>
                                <script>
                                    let el_button = document.getElementById("toggler-button-menu");
                                    el_button.addEventListener("click", () => {
                                        let el = document.getElementById("toggler-icon-navbar");

                                        if (el_button.classList.contains("collapsed")) {
                                            el.classList.remove("dropdown-menu-start");
                                            el.classList.add("dropdown-menu-end");
                                        } else {
                                            el.classList.remove("dropdown-menu-end");
                                            el.classList.add("dropdown-menu-start");
                                        }
                                    });
                                </script>
                            </div>
                        </div>
                    </nav>

                    <div class="d-flex flex-column align-items-center justify-content-center h-100">
                        <div class="card mx-4 mx-md-5 text-center shadow-5-strong" style="
                            background: hsla(0, 0%, 30%, 0.7);
                            backdrop-filter: blur(10px);
                        ">
                            <div class="card-body px-4 py-5 px-md-5">
                                <h1 class="text-light display-3 fw-bold ls-tight">Correio Privado</h1>
                                <h3 class="mb-4 text-light" style="
                                    font-weight: 200
                                ">
                                    Our service is highly competent. How can we assure this? <br>
                                    Simple! If you notice our name is not "Correio da Manhã" but instead "Correio Privado".
                                </h3>
                                <a class="btn btn-primary btn-lg py-3 px-5 mb-2 mb-md-0 me-md-2" href="#" role="button">
                                    Get started
                                </a>
                                <a class="btn btn-link btn-lg py-3 px-5 mb-2 mb-md-0"  href="#" role="button">
                                    Learn more
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

  <!-- Background image -->
  <!--Main Navigation-->
    <main>
        <div class="card card-body shadow-xl mx-3 mx-md-4 my-5 bg-body">
            <div class="container marketing text-center p-2" id="devs">
                <div class="row m-4">
                    <h1>Pet the Devs</h1>
                </div>
                <div class="row" id="dev-img">
                    <div class="col-lg-3 align-content-center h-100">
                        <img class="rounded-circle m-2 object-fit-cover" src="../img/Diogo%20Simões.jpg" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <h2>Diogo Simões</h2>
                        <p class="text-muted">Correio Privado's Designer and Frontend developer.</p>
                        <p class="h-100"><a class="btn btn-dark" href="https://github.com/AshKetshup"><i class="fa-brands fa-github"></i> View Github</a></p>
                    </div>
                    <div class="col-lg-3 align-content-between h-100">
                        <img class="rounded-circle m-2 object-fit-cover" src="../img/Luis%20Miguel.jpg" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">

                        <h2>Luís Miguel</h2>
                        <p class="text-muted">Correio Privado's Restful API and Database developer.</p>
                        <p  class="h-100"><a class="btn btn-dark" href="https://github.com/farsenfsd"><i class="fa-brands fa-github"></i> View Github</a></p>
                    </div>
                    <div class="col-lg-3 align-content-between h-100">
                        <img class="rounded-circle m-2 object-fit-cover" src="../img/Jorge%20Pissarra.jpg" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">

                        <h2>Jorge Pissarra</h2>
                        <p class="text-muted">Correio Privado's Website Backend Developer.</p>
                        <p><a class="btn btn-dark" href="https://github.com/CallmeJoca"><i class="fa-brands fa-github"></i> View Github</a></p>
                    </div>
                    <div class="col-lg-3 align-content-between h-100">
                        <img class="rounded-circle m-2 object-fit-cover" src="../img/Sara%20Martins.jpg" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">

                        <h2>Sara Martins</h2>
                        <p class="text-muted">
                            Correio Privado's Restful API and Database developer.
                        </p>
                        <p class="mb-0 "><a class="btn btn-dark" href="https://github.com/comandoPipas"><i class="fa-brands fa-github"></i> View Github</a></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="bd-footer py-5 mt-5 bg-light">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-3 mb-3">
                    <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="index.html">
                        <span class="fs-5">Correio Privado</span>
                    </a>
                    <ul class="list-unstyled small text-muted">
                        <li class="mb-2">Designed and built with all the love in the world by the <a href="index.html#devs">Correio Privado team</a>.</li>
                        <li class="mb-2">Code licensed <a href="https://github.com/AshKetshup/Correio-Privado/blob/TheMainTimeline/LICENSE" target="_blank" rel="license noopener">GPL-3.0</a>.</li>
                    </ul>
                </div>
                <div class="col-6 col-lg-2 offset-lg-1 mb-3">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="index.html">Home</a></li>
                        <li class="mb-2"><a href="#">Filter News</a></li>
                        <li class="mb-2"><a href="#">Recent News</a></li>
                        <li class="mb-2"><a href="about-us.html">About Us</a></li>
                    </ul>
                </div>
                <div class="col-6 col-lg-2 mb-3">
                    <h5>Tools</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="https://github.com/">Github</a></li>
                        <li class="mb-2"><a href="https://getbootstrap.com/">Bootstrap 5</a></li>
                        <li class="mb-2"><a href="https://mdbootstrap.com/">MDB</a></li>
                        <li class="mb-2"><a href="https://fontawesome.com/">Font Awesome</a></li>
                        <li class="mb-2"><a href="https://spring.io/">Spring Framework</a></li>
                    </ul>
                </div>
                <div class="col-6 col-lg-2 mb-3">
                    <h5>Project</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="https://github.com/AshKetshup/Correio-Privado">Getting started</a></li>
                        <li class="mb-2"><a href="https://github.com/AshKetshup/Correio-Privado">Setup Guide</a></li>
                        <li class="mb-2"><a href="https://github.com/AshKetshup/Correio-Privado/issues">Issues</a></li>
                    </ul>
                </div>
                <div class="col-6 col-lg-2 mb-3">
                    <h5>Developers</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="https://github.com/AshKeshup">Diogo Simões</a></li>
                        <li class="mb-2"><a href="https://github.com/farsenfsd">Luís Miguel</a></li>
                        <li class="mb-2"><a href="https://github.com/CallmeJoca">Jorge Pissarra</a></li>
                        <li class="mb-2"><a href="https://github.com/comandoPipas">Sara Martins</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</body>


</html>
