<!doctype html>
<html lang="en">

<head>
    <title>Correio Privado - Login</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/mdb.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script type="text/javascript" src="../js/mdb.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/539eca1b92.js" crossorigin="anonymous"></script>
    <style>
        body {
            font-family: 'Inter', Arial !important;
        }

        #intro {
            height: 100vh;
        }

        .navbar .nav-link {
            color: #fff !important;
        }

        @media (max-width: 991px) {
            #login_div {
                justify-content: center !important;
                align-items: center !important;
            }
            #login_card {
                width: 100% !important;
                height: 75% !important;
            }
        }
    </style>
</head>

<body>
    <main>

        <div id="intro" class="bg-image shadow-3-strong">
            <img src="https://mdbootstrap.com/img/new/fluid/city/018.jpg" class="vh-100 w-100" alt="Background Image" style="object-fit: cover">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.65);">
                <div class="vh-100 ">
                    <div class="container-lg">
                        <nav class="container navbar navbar-expand-lg navbar-dark shadow-0 mb-2" style="z-index: 2000;">
                            <button id="toggler-button-menu" class="navbar-toggler border-0 my-2 text-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
                                <i class="fa-solid fa-bars"></i>
                            </button>

                            <div class="collapse navbar-collapse col-md-9 text-start" id="navbarsExample08">
                                <a href="" class="col-md-4 mb-2 mb-md-0 text-decoration-none text-light">
                                    <h5>Correio Privado</h5>
                                </a>

                                <ul class="col-md-8 mb-2 navbar-nav justify-content-center">
                                    <li><a href="index.html" class="nav-link px-2 nav-link-text">Home</a></li>
                                    <li><a href="#" class="nav-link px-2 nav-link-text">Filter News</a></li>
                                    <li><a href="#" class="nav-link px-2 nav-link-text">Recent News</a></li>
                                    <li><a href="about-us.html" class="nav-link px-2 nav-link-text">About Us</a></li>
                                </ul>
                            </div>

                            <div class="col-md-3 text-end">
                                <a href="login.html" class="btn btn-link text">Sign In</a>
                                <a href="register.html" class="btn btn-primary text">Sign Up</a>
                            </div>
                        </nav>
                    </div>
                    <div id="login_div" class="h-100 d-flex justify-content-end">
                        <div id="login_card" class="card mx-4 mx-md-5 shadow-5-strong" style="
                            background: hsla(0, 0%, 30%, 0.7);
                            backdrop-filter: blur(10px);
                            height: 90%;
                            width: calc(100%/3);
                        ">
                            <form class="card-body px-4 py-5 px-md-5 d-flex flex-column">
                                <div id="description" class="text-light h-25">
                                    <h1 class="fw-bolder">Login</h1>
                                    <h5>Enter your account</h5>
                                </div>

                                <div id="inputs" class="h-50 d-flex align-items-center justify-content-center flex-column">
                                    <div class="form-outline mb-4 col-12">
                                        <input type="email" id="user_id" class="form-control bg-white bg-opacity-10 py-2 text-light">
                                        <label class="form-label text-light" for="user_id" style="margin-left: 0;">Email</label>
                                    </div>
                                    <div class="form-outline mb-4 col-12">
                                        <input type="password" id="pass_id" class="form-control bg-white bg-opacity-10 py-2 text-light">
                                        <label class="form-label text-light" for="pass_id" style="margin-left: 0;">Password</label>
                                    </div>
                                </div>

                                <div id="buttons" class="h-25 d-flex align-items-end bottom-0">
                                    <div class="d-flex flex-column col-12">
                                        <button type="submit" class="btn btn-primary btn-block mb-3">Sign In</button>
                                        <div class="col-12 text-center text-muted">
                                            <p>Don't have an Account? <a href="register.html">Sign Up</a></p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>
</html>