<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- TODO: thymeleaf everything -->
    <nav class="navbar navbar-expand-lg navbar-dark shadow-0" style="z-index: 2000;" th:fragment="navbar">
        <div class="container-lg">
            <button id="toggler-button-menu" class="navbar-toggler border-0 my-2 text-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa-solid fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse col-md-9 text-start" id="navbarsExample08">
                <a href="index.html" class="col-md-4 mb-2 mb-md-0 text-decoration-none text-light">
                    <h5>Correio Privado</h5>
                </a>

                <ul class="col-md-8 mb-2 navbar-nav justify-content-center">
                    <li><a href="#" class="nav-link px-2 nav-link-text">Home</a></li>
                    <li><a href="#" class="nav-link px-2 nav-link-text">Features</a></li>
                    <li><a href="#" class="nav-link px-2 nav-link-text">Pricing</a></li>
                    <li><a href="#" class="nav-link px-2 nav-link-text">FAQs</a></li>
                    <li><a href="#" class="nav-link px-2 nav-link-text">About</a></li>
                </ul>
            </div>

            <div class="col-md-3 text-end dropdown">
                <a class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img src="../img/Diogo%20Simões.jpg" alt="profile_pic" class="rounded-circle object-fit-cover" height="30">
                    <!-- TODO: add <i> when it has Notifications -->
                    <i class="fa-solid fa-circle-dot text-danger position-absolute" style="
                        right: 30px;
                        bottom: 17%;
                    "></i>
                </a>
                <div id="toggler-icon-navbar" class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" href="#">Profile</a>
                    <a class="dropdown-item" href="#">Logout</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Notifications <i class="fa-solid fa-circle-dot text-danger"></i></a> <!-- TODO: add <i> when it has Notifications -->
                </div>
                <script>
                    let el_button = document.getElementById("toggler-button-menu");
                    el_button.addEventListener("click", () => {
                        let el = document.getElementById("toggler-icon-navbar");

                        if (el_button.classList.contains("collapsed")) {
                            el.classList.remove("dropdown-menu-start");
                            el.classList.add("dropdown-menu-end");
                        } else {
                            el.classList.remove("dropdown-menu-end");
                            el.classList.add("dropdown-menu-start");
                        }
                    });
                </script>
            </div>
        </div>
    </nav>
</body>
</html>