<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Correio Privado - Profile</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.1.0/mdb.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.1.0/mdb.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/539eca1b92.js" crossorigin="anonymous"></script>
    <style>
        body {
            font-family: 'Inter', Arial !important;
        }

        #intro {
            height: 100vh;
        }

        .navbar .nav-link {
            color: #fff !important;
        }

        @media (max-width: 991px) {
            #register_div {
                justify-content: center !important;
                align-items: center !important;
            }
            #register_card {
                width: 100% !important;
                height: 75% !important;
            }
        }
    </style>
</head>
<body>
    <div class="p-5 text-center bg-image" style="
        background-image: url(&quot;https://images.unsplash.com/photo-1560005490-8ce6d5357ffa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHRoZW1lfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60&quot;);
        height: 500px;
        z-index: -1;
        background-size: cover;
        background-position: 50% 50%;
        background-color: rgba(0, 0, 0, 30%);
    ">
    </div>
    <div class="container" style="
        margin-top: -500px;
    ">
        <div class="container-lg">
            <nav th:replace="fragments/navbar :: navbar_logged"></nav>

            <main class="my-5">
                <h1 class="text-light fw-bold">Profile</h1>
                <hr class="text-light">
                <div class="card text-center shadow-5-strong" style="
                    background: hsla(0, 0%, 30%, 0.7);
                    backdrop-filter: blur(10px);
                ">
                    <div class="card-body px-4 py-5 px-md-5 d-flex flex-column gap-5">
                        <div class="d-flex container justify-content-around align-items-center">
                            <img src="../img/Diogo%20Simões.jpg" alt="" class="col-4 ratio-1x1 rounded-circle img-fluid" >
                            <div class="col-4 ratio-1x1 text-light d-flex flex-column gap-2 text-start">
                                <div class="row">
                                    <h5 class="">Name</h5>
                                    <p>Diogo Simões</p>
                                </div>
                                <div class="row d-flex flex-row ">
                                    <h5 class="">E-Mail</h5>
                                    <p class="">dsimoes2000@gmail.com</p>
                                </div>
                                <div class="row d-flex flex-row ">
                                    <h5 class="">Rank</h5>
                                    <p class="">Publisher</p>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div id="btn_container" class="mb-3 text-end">
                                <a href="topic_create.html" class="btn btn-primary ms-1">New Topic</a>
                                <a href="news_create.html" class="btn btn-primary ms-1">New Article</a>
                            </div>
                            
                            <table id="topics_table" class="table-responsive table align-middle mb-0 bg-white">
                                <thead class="bg-light">
                                    <tr>
                                        <th class="text-start">News</th>
                                        <th class="text-start">Topic</th>
                                        <th>Date</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <p class="fw-normal text-start mb-0">How a duck killed Elon Mush</p>
                                        </td>
                                        <td class="text-start">
                                            <p class="fw-normal mb-1">Technology</p>
                                            <p class="text-muted mb-0">News about Technology</p>
                                        </td>
                                        <td>4 days ago</td>
                                        <td class="text-end">
                                            <button type="button" class="btn btn-link btn-sm btn-rounded">
                                                <i class="fa fa-arrow-right-long"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="fw-normal text-start mb-0">How a duck used a hoe to kill Elon Mush</p>
                                        </td>
                                        <td class="text-start">
                                            <p class="fw-normal mb-1">Gardening</p>
                                            <p class="text-muted mb-0">Tips on how to git gud</p>
                                        </td>
                                        <td>5 days ago</td>
                                        <td class="text-end">
                                            <button type="button" class="btn btn-link btn-sm btn-rounded">
                                                <i class="fa fa-arrow-right-long"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="fw-normal text-start mb-0">How I killed Elon Mush, the Duck perspective</p>
                                        </td>
                                        <td class="text-start">
                                            <p class="fw-normal mb-1">Literature</p>
                                            <p class="text-muted mb-0">News on people who write books</p>
                                        </td>
                                        <td>9 days ago</td>
                                        <td class="text-end">
                                            <button type="button" class="btn btn-link btn-sm btn-rounded">
                                                <i class="fa fa-arrow-right-long"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>