<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav th:fragment="navbar" th:replace="${isLogged} ? this :: navbar_logged : this :: navbar_unlogged"></nav>

    <nav th:fragment="navbar_logged" class="navbar navbar-expand-lg navbar-dark shadow-0" style="z-index: 2000;">
        <button id="toggler-button-menu" class="navbar-toggler border-0 my-2 text-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i>
        </button>

        <div th:replace="this :: options"></div>

        <div class="col-md-3 text-end dropdown">
            <a class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <img th:src="@{../assets/img/profile.jpg}" alt="profile_pic" class="rounded-circle object-fit-cover" height="30">
                <!-- TODO: add <i> when it has Notifications i think it is ` th:if="" ` -->
                <i class="fa-solid fa-circle-dot text-danger position-absolute" style="
                    right: 30px;
                    bottom: 17%;
                "></i>
            </a>
            <div id="toggler-icon-navbar" class="dropdown-menu dropdown-menu-end">
                <!-- TODO: add dynamic link using the User to Profile -->
                <a class="dropdown-item" th:href="@{/profile}">Profile</a>
                <div class="dropdown-divider"></div>
                <!-- TODO: add dynamic link using the User to Logout -->
                <a class="dropdown-item" href="@{/signout}">Logout</a>
            </div>
            <script>
                let el_button = document.getElementById("toggler-button-menu");
                el_button.addEventListener("click", () => {
                    let el = document.getElementById("toggler-icon-navbar");

                    if (el_button.classList.contains("collapsed")) {
                        el.classList.remove("dropdown-menu-start");
                        el.classList.add("dropdown-menu-end");
                    } else {
                        el.classList.remove("dropdown-menu-end");
                        el.classList.add("dropdown-menu-start");
                    }
                });
            </script>
        </div>
    </nav>

    <nav th:fragment="navbar_unlogged" class="navbar navbar-expand-lg navbar-dark shadow-0" style="z-index: 2000;">
        <button id="toggler-button-menu" class="navbar-toggler border-0 my-2 text-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i>
        </button>

        <div th:replace="this :: options"></div>

        <div class="col-md-3 text-end">
            <a th:href="@{/login}" class="btn btn-link text">Sign In</a>
            <a th:href="@{/register}" class="btn btn-primary text">Sign Up</a>
        </div>
    </nav>

    <div th:fragment="options" class="collapse navbar-collapse col-md-9 text-start" id="navbarsExample08">
        <a th:href="@{/}" class="col-md-4 mb-2 mb-md-0 text-decoration-none text-light">
            <h5>Correio Privado</h5>
        </a>

        <ul class="col-md-8 mb-2 navbar-nav justify-content-center">
            <li><a th:href="@{/}" class="nav-link px-2 nav-link-text">Home</a></li>
            <li><a th:href="@{/news}" class="nav-link px-2 nav-link-text">Filter News</a></li>
            <li><a th:href="@{/topics}" class="nav-link px-2 nav-link-text">Recent News</a></li>
            <li><a th:href="@{/about-us}" class="nav-link px-2 nav-link-text">About Us</a></li>
        </ul>
    </div>
</body>
</html>